node_modules/
apercu-addon.html
apercu-gates.html
apercu-premier.html
apercu-rapprochement.html
apercu-see-nom.html
apercu-contrats.html
prototype/apercu.html

# Fichier reconstruit par import/decoder.py (artefact local, jamais versionne)
import/Javascript.html

# Demonstration autonome, reconstruite par prototype/tests/build-autonome.js
prototype/suivi-fwd-demo.html
prototype/suivi-fwd-demo.html.gz.b64.txt
sonde-tmp*.html
